img{
    position: relative;
    top: 8vh;
    height: 50vh;
    width: 30vw;
}
.info{
    position: absolute;
    top: 7vh;
    left: 32vw;
}
p{
    font-size: large;
}
.buttons{
    position: relative;
    left: 32vw;
}